body{
    background-image: url(./images/bg-desktop.svg);
    background-color:  hsl(257, 40%, 49%);
}
.maindiv{
    display:flex;
    margin-top: 5em;
    margin-left: 5em;
}

.huddle{
    position:absolute;
    top:1em;
    left:2em;
}
#mainimg{
    margin-top: 4em;
    height:400px;
}
.textdiv{
    padding:40px;
    width:500px;
    margin-top: 2em;;
}
h1{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

p{
    font-size: 1em;
    color:white;
    width:88%;
  
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  button{
    width:38%;
    height:10%;
    margin-top: 1em;
    border-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:hsl(257, 40%, 49%);
    border-style: none;

  }
  button:hover{
    cursor:pointer;
    background-color: hsl(300, 69%, 71%);
    color:white;
    box-shadow: 12px 12px 12px  hsl(257, 60%, 21%);
  }
 #twitter:hover{
    cursor:pointer;
    color: hsl(300, 69%, 71%);
    border-color:  hsl(300, 69%, 71%);
  }
  #facebook:hover{
    cursor:pointer;
    color: hsl(300, 69%, 71%);
    border-color:  hsl(300, 69%, 71%);
  }
  #insta{
    cursor:pointer;
    color: hsl(300, 69%, 71%);
    border-color:  hsl(300, 69%, 71%);
  }
  .fontdiv{
    margin-top: 470px;
    width:15%;
    margin-left: -8em;
    height:50px;
    display:flex;
  }
#facebook,#twitter,#insta{
  border:2px solid white;
  color:white;
  padding:12px;
  width:15px;
  margin: auto;
  border-radius:25px;
}

@media (max-width: 431px) {
  .maindiv {
    flex-direction: column;
    margin-top: 2em;
    margin-left: 0;
    padding: 0 20px;
  }
  .huddle {
    position: static;
    text-align: center;
  }
    #mainimg {
      margin-top: 1em;
      height: 300px;
      width: 100%; 
    }
  
    .textdiv {
      width: 100%;
      padding: 20px;
      margin:auto;}

      h1 {
        font-size: 24px; 
        text-align: center;
      }
    
      p {
        font-size: 14px;  
        margin-left: 4em;
        width:68%;
        text-align: center;
      }
      button {
          width: 70%; 
          padding: 12px;
          font-size: 16px;
          margin-left:3em;
          
        }
        .fontdiv {
          margin-top: 30px;
          width: 55%;
          justify-content: center;
          margin-left: 6em;
        }

    #facebook, #twitter, #insta {
      width: 15px;
      height: 15px;
      padding: 15px;
      }
    }